source/de/anomic/soap/services/blacklist.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://yacy:8080/soap/blacklist" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://yacy:8080/soap/blacklist" xmlns:intf="http://yacy:8080/soap/blacklist" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)--><wsdl:types><schema targetNamespace="http://yacy:8080/soap/blacklist" xmlns="http://www.w3.org/2001/XMLSchema"><import namespace="http://xml.apache.org/xml-soap"/><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="ArrayOf_soapenc_string"><complexContent><restriction base="soapenc:Array"><attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/></restriction></complexContent></complexType></schema></wsdl:types>
  <wsdl:message name="unshareBlacklistResponse">
  </wsdl:message>
  <wsdl:message name="deactivateBlacklistResponse">
  </wsdl:message>
  <wsdl:message name="createNewXMLDocumentRequest">
    <wsdl:part name="rootElementName" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="addBlacklistItemRequest">

    <wsdl:part name="blacklistName" type="soapenc:string"/>
    <wsdl:part name="blacklistItem" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="removeBlacklistItemResponse">
  </wsdl:message>
  <wsdl:message name="activateBlacklistResponse">
  </wsdl:message>
  <wsdl:message name="getBlacklistTypesResponse">
    <wsdl:part name="getBlacklistTypesReturn" type="impl:ArrayOf_soapenc_string"/>

  </wsdl:message>
  <wsdl:message name="importBlacklistRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="getBlacklistTypesRequest">
  </wsdl:message>
  <wsdl:message name="removeBlacklistItemRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>
    <wsdl:part name="blacklistItem" type="soapenc:string"/>

  </wsdl:message>
  <wsdl:message name="addBlacklistItemResponse">
  </wsdl:message>
  <wsdl:message name="shareBlacklistResponse">
  </wsdl:message>
  <wsdl:message name="getBlacklistListResponse">
    <wsdl:part name="getBlacklistListReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="createBlacklistResponse">

  </wsdl:message>
  <wsdl:message name="getBlacklistListRequest">
  </wsdl:message>
  <wsdl:message name="unshareBlacklistRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="shareBlacklistRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>
  </wsdl:message>

  <wsdl:message name="deleteBlacklistResponse">
  </wsdl:message>
  <wsdl:message name="activateBlacklistRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>
    <wsdl:part name="activateForBlacklistTypes" type="impl:ArrayOf_soapenc_string"/>
  </wsdl:message>
  <wsdl:message name="createBlacklistRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>
    <wsdl:part name="shareBlacklist" type="xsd:boolean"/>

    <wsdl:part name="activateForBlacklistTypes" type="impl:ArrayOf_soapenc_string"/>
  </wsdl:message>
  <wsdl:message name="importBlacklistResponse">
  </wsdl:message>
  <wsdl:message name="deleteBlacklistRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="deactivateBlacklistRequest">
    <wsdl:part name="blacklistName" type="soapenc:string"/>

    <wsdl:part name="deactivateForBlacklistTypes" type="impl:ArrayOf_soapenc_string"/>
  </wsdl:message>
  <wsdl:message name="createNewXMLDocumentResponse">
    <wsdl:part name="createNewXMLDocumentReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:portType name="BlacklistService">
    <wsdl:operation name="getBlacklistList">
      <wsdl:input message="impl:getBlacklistListRequest" name="getBlacklistListRequest"/>
      <wsdl:output message="impl:getBlacklistListResponse" name="getBlacklistListResponse"/>

    </wsdl:operation>
    <wsdl:operation name="createBlacklist" parameterOrder="blacklistName shareBlacklist activateForBlacklistTypes">
      <wsdl:input message="impl:createBlacklistRequest" name="createBlacklistRequest"/>
      <wsdl:output message="impl:createBlacklistResponse" name="createBlacklistResponse"/>
    </wsdl:operation>
    <wsdl:operation name="shareBlacklist" parameterOrder="blacklistName">
      <wsdl:input message="impl:shareBlacklistRequest" name="shareBlacklistRequest"/>
      <wsdl:output message="impl:shareBlacklistResponse" name="shareBlacklistResponse"/>
    </wsdl:operation>

    <wsdl:operation name="deleteBlacklist" parameterOrder="blacklistName">
      <wsdl:input message="impl:deleteBlacklistRequest" name="deleteBlacklistRequest"/>
      <wsdl:output message="impl:deleteBlacklistResponse" name="deleteBlacklistResponse"/>
    </wsdl:operation>
    <wsdl:operation name="unshareBlacklist" parameterOrder="blacklistName">
      <wsdl:input message="impl:unshareBlacklistRequest" name="unshareBlacklistRequest"/>
      <wsdl:output message="impl:unshareBlacklistResponse" name="unshareBlacklistResponse"/>
    </wsdl:operation>
    <wsdl:operation name="activateBlacklist" parameterOrder="blacklistName activateForBlacklistTypes">

      <wsdl:input message="impl:activateBlacklistRequest" name="activateBlacklistRequest"/>
      <wsdl:output message="impl:activateBlacklistResponse" name="activateBlacklistResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deactivateBlacklist" parameterOrder="blacklistName deactivateForBlacklistTypes">
      <wsdl:input message="impl:deactivateBlacklistRequest" name="deactivateBlacklistRequest"/>
      <wsdl:output message="impl:deactivateBlacklistResponse" name="deactivateBlacklistResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addBlacklistItem" parameterOrder="blacklistName blacklistItem">
      <wsdl:input message="impl:addBlacklistItemRequest" name="addBlacklistItemRequest"/>

      <wsdl:output message="impl:addBlacklistItemResponse" name="addBlacklistItemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeBlacklistItem" parameterOrder="blacklistName blacklistItem">
      <wsdl:input message="impl:removeBlacklistItemRequest" name="removeBlacklistItemRequest"/>
      <wsdl:output message="impl:removeBlacklistItemResponse" name="removeBlacklistItemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="importBlacklist" parameterOrder="blacklistName">
      <wsdl:input message="impl:importBlacklistRequest" name="importBlacklistRequest"/>
      <wsdl:output message="impl:importBlacklistResponse" name="importBlacklistResponse"/>

    </wsdl:operation>
    <wsdl:operation name="getBlacklistTypes">
      <wsdl:input message="impl:getBlacklistTypesRequest" name="getBlacklistTypesRequest"/>
      <wsdl:output message="impl:getBlacklistTypesResponse" name="getBlacklistTypesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createNewXMLDocument" parameterOrder="rootElementName">
      <wsdl:input message="impl:createNewXMLDocumentRequest" name="createNewXMLDocumentRequest"/>
      <wsdl:output message="impl:createNewXMLDocumentResponse" name="createNewXMLDocumentResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="blacklistSoapBinding" type="impl:BlacklistService">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBlacklistList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBlacklistListRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getBlacklistListResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBlacklist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createBlacklistRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="createBlacklistResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shareBlacklist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="shareBlacklistRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="shareBlacklistResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBlacklist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deleteBlacklistRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="deleteBlacklistResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unshareBlacklist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="unshareBlacklistRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="unshareBlacklistResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateBlacklist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="activateBlacklistRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="activateBlacklistResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deactivateBlacklist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deactivateBlacklistRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="deactivateBlacklistResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBlacklistItem">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addBlacklistItemRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="addBlacklistItemResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeBlacklistItem">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="removeBlacklistItemRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="removeBlacklistItemResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importBlacklist">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="importBlacklistRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="importBlacklistResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlacklistTypes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBlacklistTypesRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getBlacklistTypesResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewXMLDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createNewXMLDocumentRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="createNewXMLDocumentResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/blacklist" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlacklistServiceService">
    <wsdl:port binding="impl:blacklistSoapBinding" name="blacklist">
      <wsdlsoap:address location="http://yacy:8080/soap/blacklist"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>