source/de/anomic/soap/services/search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://yacy:8080/soap/search" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://yacy:8080/soap/search" xmlns:intf="http://yacy:8080/soap/search" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
  <wsdl:message name="urlInfoByHashRequest">
    <wsdl:part name="urlHash" type="soapenc:string"/>
    <wsdl:part name="viewMode" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="urlInfoRequest">
    <wsdl:part name="urlStr" type="soapenc:string"/>
    <wsdl:part name="viewMode" type="xsd:int"/>
  </wsdl:message>

  <wsdl:message name="getOpenSearchDescriptionRequest">
  </wsdl:message>
  <wsdl:message name="getOpenSearchDescriptionResponse">
    <wsdl:part name="getOpenSearchDescriptionReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="searchReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="snippetResponse">

    <wsdl:part name="snippetReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="urlInfoByHashResponse">
    <wsdl:part name="urlInfoByHashReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="snippetRequest">
    <wsdl:part name="url" type="soapenc:string"/>
    <wsdl:part name="searchString" type="soapenc:string"/>
  </wsdl:message>

  <wsdl:message name="urlInfoResponse">
    <wsdl:part name="urlInfoReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="searchString" type="soapenc:string"/>
    <wsdl:part name="maxSearchCount" type="xsd:int"/>
    <wsdl:part name="searchOrder" type="soapenc:string"/>
    <wsdl:part name="searchMode" type="soapenc:string"/>
    <wsdl:part name="maxSearchTime" type="xsd:int"/>

    <wsdl:part name="urlMask" type="xsd:boolean"/>
    <wsdl:part name="urlMaskfilter" type="soapenc:string"/>
    <wsdl:part name="prefermaskfilter" type="soapenc:string"/>
    <wsdl:part name="category" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:portType name="SearchService">
    <wsdl:operation name="search" parameterOrder="searchString maxSearchCount searchOrder searchMode maxSearchTime urlMask urlMaskfilter prefermaskfilter category">
      <wsdl:input message="impl:searchRequest" name="searchRequest"/>
      <wsdl:output message="impl:searchResponse" name="searchResponse"/>

    </wsdl:operation>
    <wsdl:operation name="snippet" parameterOrder="url searchString">
      <wsdl:input message="impl:snippetRequest" name="snippetRequest"/>
      <wsdl:output message="impl:snippetResponse" name="snippetResponse"/>
    </wsdl:operation>
    <wsdl:operation name="urlInfo" parameterOrder="urlStr viewMode">
      <wsdl:input message="impl:urlInfoRequest" name="urlInfoRequest"/>
      <wsdl:output message="impl:urlInfoResponse" name="urlInfoResponse"/>
    </wsdl:operation>

    <wsdl:operation name="urlInfoByHash" parameterOrder="urlHash viewMode">
      <wsdl:input message="impl:urlInfoByHashRequest" name="urlInfoByHashRequest"/>
      <wsdl:output message="impl:urlInfoByHashResponse" name="urlInfoByHashResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getOpenSearchDescription">
      <wsdl:input message="impl:getOpenSearchDescriptionRequest" name="getOpenSearchDescriptionRequest"/>
      <wsdl:output message="impl:getOpenSearchDescriptionResponse" name="getOpenSearchDescriptionResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="searchSoapBinding" type="impl:SearchService">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="search">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="searchRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="snippet">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="snippetRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="snippetResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urlInfo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="urlInfoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="urlInfoResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urlInfoByHash">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="urlInfoByHashRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="urlInfoByHashResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOpenSearchDescription">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOpenSearchDescriptionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getOpenSearchDescriptionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>

      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchServiceService">
    <wsdl:port binding="impl:searchSoapBinding" name="search">
      <wsdlsoap:address location="http://yacy:8080/soap/search"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>