source/de/anomic/soap/services/search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://yacy:8080/soap/search" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://yacy:8080/soap/search" xmlns:intf="http://yacy:8080/soap/search" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
  <wsdl:message name="getRemoteSearchTrackerRequest">
  </wsdl:message>
  <wsdl:message name="getOpenSearchDescriptionRequest">
  </wsdl:message>
  <wsdl:message name="getLocalSearchTrackerResponse">
    <wsdl:part name="getLocalSearchTrackerReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="urlInfoResponse">

    <wsdl:part name="urlInfoReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="snippetResponse">
    <wsdl:part name="snippetReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="urlInfoRequest">
    <wsdl:part name="urlStr" type="xsd:string"/>
    <wsdl:part name="viewMode" type="xsd:int"/>
  </wsdl:message>

  <wsdl:message name="snippetRequest">
    <wsdl:part name="url" type="xsd:string"/>
    <wsdl:part name="searchString" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getRemoteSearchTrackerResponse">
    <wsdl:part name="getRemoteSearchTrackerReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="getOpenSearchDescriptionResponse">
    <wsdl:part name="getOpenSearchDescriptionReturn" type="apachesoap:Document"/>

  </wsdl:message>
  <wsdl:message name="getLocalSearchTrackerRequest">
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="searchReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="getLocalSearchLogRequest">
  </wsdl:message>
  <wsdl:message name="getLocalSearchLogResponse">

    <wsdl:part name="getLocalSearchLogReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="urlInfoByHashRequest">
    <wsdl:part name="urlHash" type="xsd:string"/>
    <wsdl:part name="viewMode" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="createNewXMLDocumentResponse">
    <wsdl:part name="createNewXMLDocumentReturn" type="apachesoap:Document"/>
  </wsdl:message>

  <wsdl:message name="getRemoteSearchLogRequest">
  </wsdl:message>
  <wsdl:message name="createNewXMLDocumentRequest">
    <wsdl:part name="rootElementName" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getRemoteSearchLogResponse">
    <wsdl:part name="getRemoteSearchLogReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="urlInfoByHashResponse">

    <wsdl:part name="urlInfoByHashReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="searchString" type="xsd:string"/>
    <wsdl:part name="maxSearchCount" type="xsd:int"/>
    <wsdl:part name="searchOrder" type="xsd:string"/>
    <wsdl:part name="searchMode" type="xsd:string"/>
    <wsdl:part name="maxSearchTime" type="xsd:int"/>
    <wsdl:part name="urlMask" type="xsd:boolean"/>

    <wsdl:part name="urlMaskfilter" type="xsd:string"/>
    <wsdl:part name="prefermaskfilter" type="xsd:string"/>
    <wsdl:part name="category" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="SearchService">
    <wsdl:operation name="search" parameterOrder="searchString maxSearchCount searchOrder searchMode maxSearchTime urlMask urlMaskfilter prefermaskfilter category">
      <wsdl:input message="intf:searchRequest" name="searchRequest"/>
      <wsdl:output message="intf:searchResponse" name="searchResponse"/>
    </wsdl:operation>

    <wsdl:operation name="urlInfo" parameterOrder="urlStr viewMode">
      <wsdl:input message="intf:urlInfoRequest" name="urlInfoRequest"/>
      <wsdl:output message="intf:urlInfoResponse" name="urlInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="urlInfoByHash" parameterOrder="urlHash viewMode">
      <wsdl:input message="intf:urlInfoByHashRequest" name="urlInfoByHashRequest"/>
      <wsdl:output message="intf:urlInfoByHashResponse" name="urlInfoByHashResponse"/>
    </wsdl:operation>
    <wsdl:operation name="snippet" parameterOrder="url searchString">

      <wsdl:input message="intf:snippetRequest" name="snippetRequest"/>
      <wsdl:output message="intf:snippetResponse" name="snippetResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getOpenSearchDescription">
      <wsdl:input message="intf:getOpenSearchDescriptionRequest" name="getOpenSearchDescriptionRequest"/>
      <wsdl:output message="intf:getOpenSearchDescriptionResponse" name="getOpenSearchDescriptionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLocalSearchLog">
      <wsdl:input message="intf:getLocalSearchLogRequest" name="getLocalSearchLogRequest"/>

      <wsdl:output message="intf:getLocalSearchLogResponse" name="getLocalSearchLogResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLocalSearchTracker">
      <wsdl:input message="intf:getLocalSearchTrackerRequest" name="getLocalSearchTrackerRequest"/>
      <wsdl:output message="intf:getLocalSearchTrackerResponse" name="getLocalSearchTrackerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getRemoteSearchLog">
      <wsdl:input message="intf:getRemoteSearchLogRequest" name="getRemoteSearchLogRequest"/>
      <wsdl:output message="intf:getRemoteSearchLogResponse" name="getRemoteSearchLogResponse"/>

    </wsdl:operation>
    <wsdl:operation name="getRemoteSearchTracker">
      <wsdl:input message="intf:getRemoteSearchTrackerRequest" name="getRemoteSearchTrackerRequest"/>
      <wsdl:output message="intf:getRemoteSearchTrackerResponse" name="getRemoteSearchTrackerResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createNewXMLDocument" parameterOrder="rootElementName">
      <wsdl:input message="intf:createNewXMLDocumentRequest" name="createNewXMLDocumentRequest"/>
      <wsdl:output message="intf:createNewXMLDocumentResponse" name="createNewXMLDocumentResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="searchSoapBinding" type="intf:SearchService">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="search">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="searchRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="searchResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urlInfo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="urlInfoRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="urlInfoResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="urlInfoByHash">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="urlInfoByHashRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="urlInfoByHashResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="snippet">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="snippetRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="snippetResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOpenSearchDescription">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOpenSearchDescriptionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getOpenSearchDescriptionResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocalSearchLog">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLocalSearchLogRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLocalSearchLogResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocalSearchTracker">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLocalSearchTrackerRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getLocalSearchTrackerResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRemoteSearchLog">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRemoteSearchLogRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getRemoteSearchLogResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRemoteSearchTracker">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRemoteSearchTrackerRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getRemoteSearchTrackerResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewXMLDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createNewXMLDocumentRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.anomic.de" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="createNewXMLDocumentResponse">

        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/search" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchServiceService">
    <wsdl:port binding="intf:searchSoapBinding" name="search">
      <wsdlsoap:address location="http://yacy:8080/soap/search"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>