source/de/anomic/soap/services/status.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://yacy:8080/soap/status" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://yacy:8080/soap/status" xmlns:intf="http://yacy:8080/soap/status" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
  <wsdl:message name="peerListRequest">
    <wsdl:part name="peerType" type="xsd:string"/>
    <wsdl:part name="maxCount" type="xsd:int"/>
    <wsdl:part name="details" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="getPeerHashRequest">
  </wsdl:message>
  <wsdl:message name="getQueueStatusResponse">

    <wsdl:part name="getQueueStatusReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="createNewXMLDocumentResponse">
    <wsdl:part name="createNewXMLDocumentReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="createNewXMLDocumentRequest">
    <wsdl:part name="rootElementName" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getQueueStatusRequest">

    <wsdl:part name="localqueueCount" type="xsd:int"/>
    <wsdl:part name="loaderqueueCount" type="xsd:int"/>
    <wsdl:part name="localcrawlerqueueCount" type="xsd:int"/>
    <wsdl:part name="remotecrawlerqueueCount" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="peerListResponse">
    <wsdl:part name="peerListReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="networkResponse">

    <wsdl:part name="networkReturn" type="apachesoap:Document"/>
  </wsdl:message>
  <wsdl:message name="getPeerHashResponse">
    <wsdl:part name="getPeerHashReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="networkRequest">
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part name="getStatusReturn" type="apachesoap:Document"/>

  </wsdl:message>
  <wsdl:message name="getStatusRequest">
  </wsdl:message>
  <wsdl:portType name="StatusService">
    <wsdl:operation name="getStatus">
      <wsdl:input message="impl:getStatusRequest" name="getStatusRequest"/>
      <wsdl:output message="impl:getStatusResponse" name="getStatusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="network">

      <wsdl:input message="impl:networkRequest" name="networkRequest"/>
      <wsdl:output message="impl:networkResponse" name="networkResponse"/>
    </wsdl:operation>
    <wsdl:operation name="peerList" parameterOrder="peerType maxCount details">
      <wsdl:input message="impl:peerListRequest" name="peerListRequest"/>
      <wsdl:output message="impl:peerListResponse" name="peerListResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getQueueStatus" parameterOrder="localqueueCount loaderqueueCount localcrawlerqueueCount remotecrawlerqueueCount">
      <wsdl:input message="impl:getQueueStatusRequest" name="getQueueStatusRequest"/>

      <wsdl:output message="impl:getQueueStatusResponse" name="getQueueStatusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPeerHash">
      <wsdl:input message="impl:getPeerHashRequest" name="getPeerHashRequest"/>
      <wsdl:output message="impl:getPeerHashResponse" name="getPeerHashResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createNewXMLDocument" parameterOrder="rootElementName">
      <wsdl:input message="impl:createNewXMLDocumentRequest" name="createNewXMLDocumentRequest"/>
      <wsdl:output message="impl:createNewXMLDocumentResponse" name="createNewXMLDocumentResponse"/>

    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="statusSoapBinding" type="impl:StatusService">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getStatusRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>

      <wsdl:output name="getStatusResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/status" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="network">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="networkRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>

      <wsdl:output name="networkResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/status" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="peerList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="peerListRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>

      <wsdl:output name="peerListResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/status" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueueStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getQueueStatusRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>

      <wsdl:output name="getQueueStatusResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/status" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPeerHash">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getPeerHashRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.soap.anomic.de" use="encoded"/>
      </wsdl:input>

      <wsdl:output name="getPeerHashResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/status" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewXMLDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createNewXMLDocumentRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://soap.anomic.de" use="encoded"/>
      </wsdl:input>

      <wsdl:output name="createNewXMLDocumentResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://yacy:8080/soap/status" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatusServiceService">
    <wsdl:port binding="impl:statusSoapBinding" name="status">
      <wsdlsoap:address location="http://yacy:8080/soap/status"/>
    </wsdl:port>

  </wsdl:service>
</wsdl:definitions>